
#game{
  overflow-y: hidden;
  background-color: rgb(200,200,200);
  height:100%;
  width:100%;
  margin:0;
}
#start_button{
  margin-left:280px;
  margin-top:150px;
  border: solid;
  border-radius: 30px;
  background-color: white;
  height:200px;
  width:500px;
}
#wid{
  display:none;
}
#scores{
  background-color:white;
  width: 100%;
  padding: 0;
}
#scores > li{
  display:inline;
}
#sentences{
  background-color: white;
  height: 300px;
  margin-top:100px;
  padding:0;
  list-style: none;
}
p{
  margin-top: 0;
  margin-bottom: 0;
}

#fr_{
  padding-top: 75px;
  font-size: 25px;
  text-align: center;
}
#ja_{
  padding-top: 5px;
  font-size: 28px;
  text-align: center;
}
#rom_{
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
}

#don{
  color:rgb(200,200,200);
}

#result{
  display:none;
  width:600px;
  height:400px;
  margin-top:50px;
  margin-left: 230px;
  background-color: white;
  border:solid;
}
#result > h1{
  text-align:center;
}
#result > button{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:10px 30px;
  background-color:#eee;
  border:solid #ccc 1px;
  cursor: pointer;
}
#twitter{
  display:block;
  text-align: center;
}
#twitter > img{
  height:30px;
  width:30px;
  border-radius: 15px;
}